<div class="container">
    <a class="topBanner backgroundColor-Vanilla" href="https://itunes.apple.com/us/app/mi-misecret/id880007797?ls=1&mt=8" target="_blank">
        <div class="topBanner-content" data-entranceAnimation="flipInY">
            你的朋友想知道...
        </div>
        <div class="logo-right" data-entranceAnimation="flipInY">
            <img src="app/img/fox-right.png">
        </div>
    </a>
    <div class="post backgroundColor-{{ComposeColorName}}">
        {{^BackgroundImageUrl}}
        <div class="post-mask backgroundMask-{{ComposeTextureName}} insetShadow">
        </div>
        {{/BackgroundImageUrl}}
        {{#BackgroundImageUrl}}
        <div class="post-mask backgroundMask-Custom insetShadow" style="background-image:url({{BackgroundImageUrl}});">
        </div>
        {{/BackgroundImageUrl}}
        <div class="post-content">
            {{Text}} 
        </div>
    </div>
    <ul class="comments">
        <li class="comment-download clearfix">
            <a id="bottomBanner" href="https://itunes.apple.com/us/app/mi-misecret/id880007797?ls=1&mt=8" target="_blank">
                <img id="foxhole" src="app/img/secret/logo-foxhole@2x.png" />
                <p>「秘密」<br/><small>天机可以泄露</small></p>
                <img id="download" src="app/img/download.png" />
                <br />
            </a>
            <div class="qrcode">
                <img src="app/img/qrcode.png" />
            </div>
            <div class="comment-download-footer "></div>
        </li>
    </ul>
</div>