<div class="container">

    <div class="post backgroundColor-{{ComposeColorName}}" data-entranceAnimation="fadeInDown">
        {{^BackgroundImageUrl}}
        <div class="post-mask backgroundMask-{{ComposeTextureName}} insetShadow">
        </div>
        {{/BackgroundImageUrl}}
        {{#BackgroundImageUrl}}
        <div class="post-mask backgroundMask-Custom insetShadow">
            <img class="postBackground" src="{{BackgroundImageUrl}}" />
        </div>
        {{/BackgroundImageUrl}}
        <div class="post-subTitle">
            我很想知道...
        </div>
        <div class="post-content">
            {{{Text}}} 
        </div>
    </div>
    <ul class="comments" data-entranceAnimation="fadeInDown">
        <li class="comment-download clearfix">
                想知道我在「秘密」里如何回答？
        </li>
    </ul>
</div>

<a id="btnLink" href="http://a.app.qq.com/o/simple.jsp?pkgname=ly.secret.android.china&g_f=995052" onclick="_hmt.push(['_trackEvent', 'download', 'click', 'PromoCell']);" class="btn btn-primary btn-lg btn-block"  data-entranceAnimation="fadeInDown"><i class="fa fa-apple fa-2x pull-left"></i>点此下载「秘密」
    <img id="btnLink-fox" src="app/img/fox.png"  data-entranceAnimation="fadeInRight" />
</a>
