<div class="container">

    <div class="post backgroundColor-{{ComposeColorName}}" data-entranceAnimation="fadeInDown">
        {{^BackgroundImageUrl}}
        <div class="post-mask backgroundMask-{{ComposeTextureName}} insetShadow">
        </div>
        {{/BackgroundImageUrl}}
        {{#BackgroundImageUrl}}
        <div class="post-mask backgroundMask-Custom insetShadow">
            <img class="postBackground" src="{{BackgroundImageUrl}}" />
        </div>
        {{/BackgroundImageUrl}}
        <div class="post-subTitle">
            我很想知道...
        </div>
        <div class="post-content">
            {{Text}} 
        </div>
    </div>
    <ul class="comments" data-entranceAnimation="fadeInDown">
        <li class="comment-download clearfix">

                下载「秘密」，看朋友如何作答
            
            <div class="comment-caret"></div>
        </li>
    </ul>
</div>

<a id="btnLink" href="https://itunes.apple.com/us/app/mi-misecret/id880007797?ls=1&mt=8" class="btn btn-primary btn-lg btn-block"  data-entranceAnimation="fadeInDown"><i class="fa fa-apple fa-2x pull-left"></i>「秘密」，天机可以泄露<br><small>Available on the App Store</small>
    <img id="btnLink-fox" src="app/img/fox.png"  data-entranceAnimation="fadeInRight" />
</a>

<div class="qrcode"  data-entranceAnimation="fadeInDown">
                <img src="app/img/qrcode.png" />
</div>